/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 oct. 2016, 15:23:28
    Author     : EtRhI_PC
*/

p {
    width: 500px;
    text-align: justify; 
}
#victoire {
    color : green;
    font-weight: bolder;
}

input {
    margin-top: 10px;
}

#abandon {
    color : red;
    font-weight: bolder;
}

#texte {
    margin-bottom: 10px;
}
span {
    font-weight: bolder;
}